QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=game_reviews
QDRANT_DENSE_VECTOR_NAME=dense
QDRANT_SPARSE_VECTOR_NAME=sparse
QDRANT_DENSE_VECTOR_SIZE=384
FASTEMBED_CACHE_PATH=.cache/fastembed
